:root {
    --background-body: #ffffff;
    --logo: url("../img/nav-icon-red.svg");
    --icon-first: url("../img/moon-black.svg");
    --icon-second: url("../img/bag-black.svg");
    --icon-third: url("../img/dashboard-black.svg");
    --icon-close: url("../img/close-black.svg");
    --icon-minus: url("../img/icon-minus.svg");
    --icon-plus: url("../img/icon-plus.svg");
    --icon-trash: url("../img/icon-trash.svg");
    --logo-color-text: #262626;
    --header-background-figure: #e94959;
    --header-color-title: #262626;
    --header-color-paragraph: #8c8c8c;
    --header-color-price: #e94959;
    --header-background-button: #2b2b2b;
    --header-color-button: #ffffff;
    --header-background-counter: #262626;
    --header-color-counter: #e6e6e6;
    --color-link-here: #e94959;
    --color-link: #262626;
    --header-background-nav: #ffffff;
    --color-title-box: #595959;
    --color-subtitle-box: #8c8c8c;
    --main-background-box: #2a2a2a;
    --main-background-figure: #e6e6e6;
    --main-color-title-card: #262626;
    --main-color-description-card: #e94959;
    --main-background-div: #ffffff;
    --main-background-divadd: #ffffff;
    --main-color-divadd: #262626;
    --main-background-divadd-activate: #e94959;
    --main-color-divadd-activate: #f7f7f8;
    --footer-background: #e6e6e6;
    --footer-color-a: #595959;
    --footer-color-titles: #262626;
    --footer-facebook: url("../img/facebook.svg");
    --footer-twitter: url("../img/twitter.svg");
    --footer-instagram: url("../img/instagram.svg");
    --footer-facebook-hover: url("../img/facebook-hover.svg");
    --footer-twitter-hover: url("../img/twitter-hover.svg");
    --footer-instagram-hover: url("../img/instagram-hover.svg");
    --main-background-detail: #ffffff;
    --main-background-addproduct: #2b2b2b;
    --main-background-closedetails: #000000;
    --background-btn-pay:#2b2b2b;
    --background-btnpay-activate: #e94959;
    /* cambiar  */
}  
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-body);
}
body.darkmode {
    --background-body: #1f1d2a;
    --logo: url("../img/nav-icon-dark.svg");
    --icon-first: url("../img/sun-dark.svg");
    --icon-second: url("../img/bag-dark.svg");
    --icon-third: url("../img/dashboard-dark.svg");
    --icon-close: url("../img/close-dark.svg");
    --icon-minus: url("../img/icon-minus-dark.svg");
    --icon-plus: url("../img/icon-plus-dark.svg");
    --icon-trash: url("../img/icon-trash-dark.svg");
    --header-background-figure: #9adde0;
    --header-color-title: #f2f2f2;
    --logo-color-text: #f2f2f2;
    --header-color-price: #9adde0;
    --header-background-button: #1b1a23;
    --header-color-button: #fff;
    --header-background-counter: #f2f2f2;
    --header-color-counter: #0b0b0f;
    --color-link-here: #9adde0;
    --color-link: #f2f2f2;
    --header-background-nav: #1b1a23;
    --main-background-box: #1b1a23;
    --color-title-box: #bfbfbf;
    --main-background-figure: #0b0b0f;
    --main-background-div: #1b1a23;
    --main-color-title-card: #f2f2f2;
    --main-color-description-card: #9adde0;
    --main-background-divadd: #1b1a23;
    --main-color-divadd: #f2f2f2;
    --main-background-divadd-activate: #9adde0;
    --main-color-divadd-activate: #1f1d2a;
    --footer-background: #0b0b0f;
    --footer-color-titles: #f2f2f2;
    --footer-color-a: #bfbfbf;
    --footer-facebook: url("../img/facebook-dark.svg");
    --footer-twitter: url("../img/twitter-dark.svg");
    --footer-instagram: url("../img/instagram-dark.svg");
    --footer-facebook-hover: url("../img/facebook-dark-hover.svg");
    --footer-twitter-hover: url("../img/twitter-dark-hover.svg");
    --footer-instagram-hover: url("../img/instagram-dark-hover.svg");
    --main-background-detail: #1b1a23;
    --background-btn-pay: #1b1a23;
    --background-btnpay-activate: #9adde0;
}
.header {
    min-width: 32rem;
    width: 100%;
    height: 80rem;
    margin: 0 auto;
}
.header .header__div--first {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 5rem;
    position: fixed;
    background-color: transparent;
    transition: background-color 0.5s;
}
.header .header__div--first .header__nav {
    min-width: 32rem;
    width: 100%;
    max-width: 110rem;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header .header__nav .header__div--div {
    width: 80%;
    max-width: 23rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Cuando el scroll es mayor a 300 */
.header .header__nav--scroll {
    background-color: var(--header-background-nav);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.127);
    z-index: 10;
}

.header .header__nav .nav__ul--first .header__li--normal {
    display: flex; 
    align-items: center;
}
.header .header__nav .nav__ul--first .header__li--normal :first-of-type {
    background-image: var(--logo);
    background-position: center;
    background-size: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 4rem;
    height: 4rem;
}
.header .header__nav .nav__ul--first .header__li--normal :last-of-type {
    width: 5rem;
    text-decoration: none;
    color: var(--logo-color-text);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
}
.header .header__nav .nav__ul--third .header__li--normal {
    cursor: pointer;
}
.header .header__nav .nav__ul--third .header__li--normal span {
    background-position: center;
    background-size: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: relative;
}
.header .header__nav .nav__ul--third .header__li--normal:nth-of-type(1) .moon--sun {
    background-image: var(--icon-first);
}
.header .header__nav .nav__ul--third .header__li--normal:nth-of-type(2) .bag--close {
    background-image: var(--icon-second);
    z-index: 20;
}
.header .header__nav .nav__ul--third .header__li--normal:nth-of-type(3) .dashboard--close {
    background-image: var(--icon-third);
}
.header .header__nav .nav__ul--third .header__li--normal:nth-of-type(3) .dashboard--open {
    background-image: var(--icon-close);
    z-index: 20;
}

.header .header__dashboard--ul li a {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--color-link);
}
.header .header__dashboard--ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    position: relative;
    top: calc(50% - 12rem);
}
.header .header__dashboard--ul li .we--here {
    color: var(--color-link-here);
}
.header .header__dashboard--close {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-body);
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    transition: transform .4s ease-in-out;
}
.header .header__dashboard--open {
    transform: translate(-100%);
}
.header .header__cart--close {
    min-width: 32rem;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-body);
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    z-index: 30;
    transition: transform 0.6s ease-in-out;
    display: flex;
    align-items: center;
}
.header .header__cart--open {
    transform: translate(-100%);
}
.header .header__cart--close .bag--close {
    cursor: pointer;
    background-image: var(--icon-close);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.header .header__cart--close .products--pay {
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;
    bottom: 4rem;
    width: 85%;
}
.header .header__cart--close .diferents--products {
    width: 85%;
    height: 50rem;
    position: absolute;
    top: 5rem;
    width: 85%;
    height: 75%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.header .header__cart--close .header__cart--product {
    display: flex;
    width: 100%;
    height: 25%;
    max-height: 13rem;
    gap: 2rem;
}
.header .header__cart--close .header__cart--product figure {
    border:1px solid var(--background-btnpay-activate);
    border-radius: 0.5rem;
    background-color: var(--main-background-figure);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 13rem;
    max-height: 13rem;
    min-width: 7.6rem;
}
.header .header__cart--close .header__cart--product figure img {
    width: 100%;
}
.header .header__cart--close .products--pay .quantity--price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.header .header__cart--close .products--pay .quantity--price > p {
    font-size: 1.3rem;
    color: #bfbfbf;
}
.header .header__cart--close .products--pay .quantity--price > h2 {
    font-size: 1.5rem;
    color: #bfbfbf;
    font-weight: bold;
}
.header .header__cart--close .header__cart--product .product--details {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
}
.header .header__cart--close .header__cart--product .product--details h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.header .header__cart--close .header__cart--product .product--details p:first-of-type {
    font-size: 1.3rem;
    color: #bfbfbf;
}
.header .header__cart--close .header__cart--product .product--details p:first-of-type span {
    color: var(--background-btnpay-activate);
}
.header .header__cart--close .header__cart--product .product--details p:nth-of-type(2) {
    font-size: 1.4rem;
    color: var(--background-btnpay-activate);
}
.header .header__cart--close .header__cart--product .product--details p:nth-of-type(3) {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header .header__cart--close .header__cart--product .product--details p:nth-of-type(3) span:first-of-type {
    background-image: var(--icon-minus);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.header .header__cart--close .header__cart--product .product--details p:nth-of-type(3) span:nth-of-type(3) {
    background-image: var(--icon-plus);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.header .header__cart--close .header__cart--product .product--details p:nth-of-type(3) span:nth-of-type(4) {
    background-image: var(--icon-trash);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.header .header__cart--close .products--pay .btn--comprar {
    background-color: var(--background-btn-pay);
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:  0 auto;
    transition: background-color 0.5s ease-in-out;
}

.header .header__cart--close .products--pay .btn--comprar:hover {
    background-color: var(--background-btnpay-activate);
}
.header .header__nav .nav__ul--third {
    display: flex;
    gap: 1.5rem;
    position: relative;
}
.header .header__ul--counter {
    position: absolute;
    background-color: var(--header-background-counter);
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--header-color-counter);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    left: 4rem;
    top: 1rem;
    z-index: 20;
}
.header .header__div--second {
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, minmax(min-content, max-content));
}
.header .header__figure {
    width: 100%;
    height: 40rem;
    background: var(--header-background-figure);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header__figure img {
    width: 80%;
    max-width: 31rem;
}
.header .header__section {
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    gap: 2rem;
}
.header .header__section .header__section--h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
    font-weight: 600;
    color: var(--header-color-title);
}
.header .header__section .header__section--p:first-of-type {
    font-size: 1.6rem;
    color: var(--header-color-paragraph);
    line-height: 2rem;
}
.header .header__section .header__section--p:last-of-type {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--header-color-price);
}
.header .header__section .header__section--a {
    background-color: var(--header-background-button);
    display: inline-block;
    width: 15rem;
    height: 5rem;   
    font-size: 2rem;
    text-decoration: none;
    color: var(--header-color-button);
    text-align: center;
    padding: 1.5rem;
}

.header .header__nav .header__nav--ul .header__li--dark {
    display: none;
}
.header .header__nav .nav__ul--second {
    display: none;
}
.loanding {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: var(--background-body);
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out, display 1s ease-in-out;
    z-index: 50;
}
.loanding--none {
    opacity: 0;
    visibility: hidden;
    display: none;
}
.loanding span{
    background-image: var(--logo);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 10rem;
    height: 10rem;
    animation: loanding 1s infinite; 
}
@keyframes loanding {
    from {
        transform: translateY(1rem);
    }
    50% {
        transform: translateY(0);
    }
    to {
        transform: translateY(-1rem)
    }
}
/*  Pruebas para el eccoemrce con los diferentes productos */
.main {
    height: max-content;
    min-width: 32rem;
    padding-bottom: 8rem;
}
.main .main__section--first {
    width: 80%;
    max-width: 30rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 6rem;
}
.main .main__section--first .main__section--div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    cursor: pointer;
    width: 12rem;
    height: 5rem;
    transition: background-color .6s;
}
.main .main__section--first .main__section--div:hover {
    background-color: var(--main-background-box);
}
.main .main__section--first .main__section--div:hover p:first-of-type {
    color: #fff;
}
.main .main__section--first .main__section--div:hover p:last-of-type {
    color: #fff;
}
.main .main__section--first .main__section--div p:first-of-type {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-title-box);
}
.main .main__section--first .main__section--div p:last-of-type {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--color-subtitle-box);
}
.main .main__section--second {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    width: 100%;
    max-width: 110rem;
    justify-items: center;
    row-gap: 3rem;
    margin: 0 auto;
}
.main .main__section--second .section__article {
    width: 80%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.127);
    animation: charge 1s ease-in-out 1;
}
@keyframes charge {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.main .main__section--second .section__article .section__article--figure {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--main-background-figure);
}
.main .main__section--second .section__article .section__article--figure img {
    width: 100%;
    transition: transform .6s;
}
.main .main__section--second .section__article .section__article--figure:hover img {
    transform: translate(0rem, -1rem);
}
.main .main__section--second .section__article .section__article--div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 0.3rem;
    background-color: var(--main-background-div);
    position: relative;
}
.main .main__section--second .section__article .section__article--div h4 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color-title-card);
}
.main .main__section--second .section__article .section__article--div h4 span {
    font-size: 1.3rem;
    color: #8c8c8c;
    margin-left: 1.5rem;
}
.main .main__section--second .section__article .section__article--div p{
    color: var(--main-color-title-card);
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    transition: color .6s;
}
.main .main__section--second .section__article .section__article--div p:hover {
    color: var(--main-color-description-card);
}
.main .main__section--second .section__article .section__article--div .article__div--add {
    position: absolute;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: var(--main-background-divadd);
    color: var(--main-color-divadd);
    top: -2rem;
    right: 2rem;
    box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.127);
    cursor: pointer;
    transition: background-color .6s, color 0.6s;
}
.main .main__section--second .section__article .section__article--div .article__div--add:hover {
    background-color: var(--main-background-divadd-activate);
    color: var(--main-color-divadd-activate);
}
.main .main__section--first .main__div--target {
    background-color: var(--main-background-box);
}
.main .main__section--first .main__div--target p:first-of-type {
    color: #fff;
}
.main .main__section--first .main__div--target p:last-of-type {
    color: #fff;
}

/* Open details products */
.main .main__section--second .article--details {
    min-width: 30rem;
    width: 95%;
    max-width: 40rem;
    height: max-content;
    margin: 0 auto;
    position: fixed;
    top: calc(50% - 23.3rem);
    z-index: 1000;
    background-color: var(--main-background-detail);
    box-shadow: 0rem 0.4rem 0.8rem 100rem rgba(0, 0, 0, 0.397);
    border-radius: 1.5rem;
    animation: chargeDetails .5s ease-in-out 1;
}
@keyframes chargeDetails {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.main .main__section--second .article--details figure {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.main .main__section--second .article--details figure img {
    width: 83%;
}
.main .main__section--second .article--details .article__details--container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.main .main__section--second .article--details .article__details--container > h3 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: var(--main-color-title-card);
}
.main .main__section--second .article--details .article__details--container > p {
    color: var(--color-subtitle-box);
    font-size: 1.5rem;
}
.main .main__section--second .article--details .article__details--container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.main .main__section--second .article--details .article__details--container div h4 {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
}
.main .main__section--second .article--details .article__details--container div > p {
    color: var(--color-subtitle-box);
    font-size: 1.5rem;
}
.main .main__section--second .article--details .article__details--container div h4 div {
    background-color: var(--main-background-addproduct);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s;
}
.main .main__section--second .article--details .article__details--container div h4 div:hover {
    background-color: var(--main-background-divadd-activate);
}   
.main .main__section--second .article--details > .article__details--close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--main-background-closedetails);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    color: var(--main-background-detail);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.footer {
    background-color: var(--footer-background);
    padding: 6rem 0rem;
}
.footer .footer__div {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 3rem;
}
.footer .footer__div .footer__div--section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer .footer__div .footer__div--section h4{
    font-size: 2rem;
    font-weight: bold;
    color: var(--footer-color-titles);
}
.footer .footer__div .footer__div--section ul li {
    margin-bottom: 1rem;
}
.footer .footer__div .footer__div--section ul li a{
    text-decoration: none;
    color: var(--footer-color-a);
    font-size: 1.5rem;
}
.footer .footer__div .footer__div--section ul li:hover a {
    color: var(--footer-color-titles);
}
.footer .footer__div .footer__div--section:nth-of-type(4) ul {
    display: flex;
    gap: 1rem;
}
.footer .footer__div .footer__div--section:nth-of-type(4) ul li a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.footer .footer__div .footer__div--section:nth-of-type(4) ul li:nth-of-type(1) a{
    background-image: var(--footer-facebook);

}
.footer .footer__div .footer__div--section:nth-of-type(4) ul li:nth-of-type(2) a {
    background-image: var(--footer-twitter);
}
.footer .footer__div .footer__div--section:nth-of-type(4) ul li:nth-of-type(3) a {
    background-image: var(--footer-instagram);
}
.footer .footer__div .footer__div--section:nth-of-type(4) ul li:nth-of-type(1):hover a {
    background-image: var(--footer-facebook-hover);
}
.footer .footer__div .footer__div--section:nth-of-type(4) ul li:nth-of-type(2):hover a {
    background-image: var(--footer-twitter-hover);
}
.footer .footer__div .footer__div--section:nth-of-type(4) ul li:nth-of-type(3):hover a {
    background-image: var(--footer-instagram-hover);
}  
.footer .footer__div--info {
    background-color: var(--header-background-figure);
    width: 95%;
    margin: 0 auto;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}
.footer .footer__div--info p {
    font-size: 1.5rem;
    font-weight: bold;
}
.footer .footer__div--info p a {
    text-decoration: none;
    color: var(--header-color-button);
}

