.header .header__nav .header__nav--div .header__div--div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    max-width: 29rem;
}
.header .header__nav .nav__ul--second {
    display: flex;
    gap: 2rem;
}
.header .header__nav  .header__div--div .nav__ul--second li a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-text-main);
}
.header .header__nav .header__div--div .nav__ul--second li .we--here {
    color: var(--second-color);
}
.header .header__dashboard--close {
    display: none;
}
.header .header__dashboard--open {
    display: none;
}
.header .header__section {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-content: center;
    height: 70rem;
}
.header .header__section .header__section--h1 {
    font-size: 4rem;
    line-height: 5rem;
}
.header .header__figure {
    height: 70rem;
}
.header .header__nav .nav__ul--third .header__li--normal:nth-of-type(3) {
    display: none;
}
.header .header__cart--close {
    width: 40rem;
}
.main .main__section--first {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    max-width: 55rem;
}
.footer .footer__div {
    flex-direction: row;
    justify-content: space-between;
}